{{ define "title" }}
Login
{{ end }}

{{ define "main" }}
<form action="/user/login" method="post" novalidate>
  {{ range .Errors }}
  <p>{{.}}</p>
  {{ end }}

  <div>
    <label>Name:</label>
    {{ with .Errors.name }}
    <p class="error">{{.}}</p>
    {{ end }}
    <input type="text" name="name" required>
  </div>

  <div>
    <label>Password:</label>
    {{ with .Errors.password }}
    <p class="error">{{.}}</p>
    {{ end }}
    <input type="password" name="password" minlength="8" required>
  </div>

  <button type="submit" class="block">Login</button>
</form>
{{ end }}
