{{ define "title" }}
Login
{{ end }}

{{ define "main" }}
<form action="/user/login" method="post" novalidate>
  <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

  {{ range .Errors }}
  <p>{{.}}</p>
  {{ end }}

  <div>
    <label>Email:</label>
    {{ with .Errors.email }}
    <p class="error">{{.}}</p>
    {{ end }}
    <input type="email" name="email" required>
  </div>

  <div>
    <label>Password:</label>
    {{ with .Errors.password }}
    <p class="error">{{.}}</p>
    {{ end }}
    <input type="password" name="password" minlength="8" required>
  </div>

  <button type="submit" class="block">Login</button>
</form>
{{ end }}
